menuconfig SCALER
	bool "Enable Scaling Module"
	default n
	help
	    Enable the Scaling module for ZMK.

if SCALER

config ZMK_INPUT_PROCESSOR_SCALER
	bool "Enable Scaling Input Processor"
	default y
    depends on ZMK_INPUT_PROCESSORS
	help
	  Enable an input processor that scales relative mouse deltas by
	  (scale_coeff_milli/1000) * delta when scaling_mode is 1.

config ZMK_INPUT_PROCESSOR_SCALER_DEFAULT_COEFF_MILLI
	int "Default scale coefficient (milli)"
	default 100
	depends on ZMK_INPUT_PROCESSOR_SCALER
	help
	  Default milli coefficient used when the device tree property
	  scale-coeff-milli is not provided. 100 => 0.1.

endif # SCALER


