/ {
	input_processors  {
		scaler: scaler {
			compatible = "zmk,input-processor-motion-scaler";
            #input-processor-cells = <0>;
            scaling-mode = <1>;
            scale-coeff-milli = <100>;
		};
	};
};


